// responsive
$breakpoint-desktop: 1024px;
$breakpoint-laptop: 768px;
$breakpoint-tablet: 480px;
$breakpoint-mobile: 360px;

// size
$desktop-size: 1024;
$laptop-size: 768;
$tablet-size: 480;
$mobile-size: 360;
$inner-width-px: 1460px;
$inner-width-size: 1420;
$inner-padding-px: 20px;
$inner-padding-size: 20;

// color
$label-neutral: #5A5A5A;
$label-alternative: #6D6D6D;
$label-assistive: #878787;
$label-disabled: #B8B8B8;

$lable-dark-neutral: #DEDEDE;
$label-dark-alternative: #B8B8B8;
$label-dark-assistive: #919191;
$label-dark-disabled: #6D6D6D;

$border-strong: #CFCFCF;
$border-normal: #DBDBDB;
$border-dark-normal: #505050;

$bg-dark-strong: #252525;
$bg-dark-normal: #2D2D2D;
$bg-light-strong: #F3F3F3;
$bg-light-normal: #F5F5F5;

// font
$font-chakra: "Chakra Petch", "Montserrat", "Pretendard Variable", Pretendard, "Noto Sans KR", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;