<div class="inner">
    <div class="ft-cont">
        <div class="ft-left">
            <div class="logo"><img src="/publishing/logitech/images/common/footer/ft_logo.svg" alt="logitech G"></div>
            <div class="news-letter">
                <form>
                    <div class="form">
                        <input type="email" placeholder="이메일 주소">
                        <button type="button">구독</button>
                    </div>
                    <label for="letter" class="checkbox">
                        <input type="checkbox" id="letter">
                        <span>로지텍G에서 제품, 뉴스 등에 대한 이메일을 받고 싶습니다.</span>
                    </label>
                </form>
            </div>
        </div>
        <ul class="link">
            <li>
                <p>로지텍 G</p>
                <ul>
                    <li><a href="javascript:void(0);">소개</a></li>
                    <li><a href="javascript:void(0);">연락처</a></li>
                    <li><a href="javascript:void(0);">채용</a></li>
                    <li><a href="javascript:void(0);">파트너 개발자 랩</a></li>
                    <li><a href="javascript:void(0);">사이트맵</a></li>
                    <li><a href="javascript:void(0);">투자자</a></li>
                </ul>
            </li>
            <li>
                <p>약관</p>
                <ul>
                    <li><a href="javascript:void(0);">이용약관</a></li>
                    <li><a href="javascript:void(0);">웹 개인정보 보호정책</a></li>
                    <li><a href="javascript:void(0);">제품 개인정보 보호정책</a></li>
                    <li><a href="javascript:void(0);">쿠키 설정</a></li>
                    <li><a href="javascript:void(0);">이메일 설정</a></li>
                    <li><a href="javascript:void(0);">이메일 등록 페이지</a></li>
                </ul>
            </li>
            <li>
                <p>지속 가능성</p>
                <ul>
                    <li><a href="javascript:void(0);">지속 가능성</a></li>
                    <li><a href="javascript:void(0);">재활용</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="ft-btm">
        <p class="copy">© 2023 로지텍. All rights reserved</p>
        <ul class="sns">
            <li><a href="javascript:void(0);"><img src="/publishing/logitech/images/common/footer/ft_sns_01.svg" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="/publishing/logitech/images/common/footer/ft_sns_02.svg" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="/publishing/logitech/images/common/footer/ft_sns_03.svg" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="/publishing/logitech/images/common/footer/ft_sns_04.svg" alt=""></a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        footerLink();
        $(window).resize(function() {
            footerLink();
        });
    });
    function footerLink() {
        if(window.innerWidth <= 480) {
            $('.ft-cont .link > li').click(function() {
                $('.ft-cont .link > li > ul').hide();
                $(this).find('ul').show();
            });
        } else if(window.innerWidth > 480) {
            $('.ft-cont .link > li').off('click');
            $('.ft-cont .link > li > ul').show();
        }
    }
</script>