<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Walker</title>

    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/common.css">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../../script/common.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="inner">
            <header>
                <a class="header-btn prev" href="./certifi.html"></a>
                <h2>회원가입</h2>
            </header>
            <main class="pd0">
                <div class="page-tit__wrap">
                    <h3 class="page-tit">
                        <span>홍길동</span>님, <br/>
                        회원가입이 완료되었습니다.
                    </h3>
                    <p class="page-desc">
                        내 정보 > 보조기 관리 페이지에서 <br/>
                        보조기를 등록해 주세요.
                    </p>
                </div>
                <div class="join-complete">
                    <img src="../../images/join_complete.png">
                </div>
                <div class="btn-bottom">
                    <a class="btn sky" href="../index.html">메인페이지</a>
                    <a class="btn blue" href="../my/my.html">보조기 등록</a>
                </div>
            </main>
        </div>
    </div>
</body>