<div class="inner">
    <div class="ft-top">
        <div class="ft-top__lft">
            <button type="button" class="email-copy" id="copyEmail" data-clipboard-text="keeemsoeun@gmail.com">
                <span>KEEEMSOEUN@</span>
                <br/>
                <span>
                    GMAIL.COM
                    <i>
                        <img src="../../images/common/arrow_right_wh_ico.svg" alt="">
                        <img src="../../images/common/arrow_right_wh_ico.svg" alt="">
                    </i>
                </span>
            </button>
            <ul class="ft-contact">
                <li><span>Another E-Mail.</span>dobermannn@naver.com</li>
                <li><span>Phone.</span>010-7919-9791</li>
            </ul>
        </div>
        <div class="ft-top__rgt">
            <button type="button" class="top-btn">
                <img src="../../images/common/arrow_top_wh_ico.svg" alt="맨 위로 이동">
                <img src="../../images/common/arrow_top_wh_ico.svg" alt="맨 위로 이동">
            </button>
        </div>
    </div>
    <div class="ft-btm">
        <p class="copy">©2024 Keem-SoEun All Rights Reserved</p>
        <div class="update"><span>UPDATE.</span>2024.11</div>
    </div>
</div>

<script>
    // footer top btn
    $('.top-btn').click(function() {
        $('html, body').animate({scrollTop:0}, '300');
    });
</script>