<div class="inner">
    <div class="menu-view__top">
        <button type="button" class="menu-view__close">CLOSE</button>
    </div>
    <div class="menu-view__menu">
        <ul>
            <li><a href="../../../index.html">HOME</a></li>
            <li><a href="../portfolio/portfolio.html">PORTFOLIO</a></li>
            <li><a href="../about.html">ABOUT</a></li>
            <li><a href="../contact.html">CONTACT</a></li>
        </ul>
    </div>
    <div class="menu-view__btm">
        <ul>
            <li><span>E-Mail.</span>keeemsoeun@gmail.com</li>
            <li><span>Another E-Mail.</span>dobermannn@naver.com</li>
            <li><span>Phone.</span>010-7919-9791</li>
        </ul>
    </div>
</div>