// light 1
.light-1 {
    padding: rem(120) 0;
    background: #000;
    .txt-area {
        text-align: center;
    }
    .box-txt {
        display: flex;
        width: min(940px, 100%);
        margin: rem(62) auto rem(32);
        &__item {
            width: 100%;
            padding: rem(40) rem(20);
            text-align: center;
            &:not(:last-of-type) {
                border-right: 1px solid $border-dark-light;
            }
            b {
                display: block;
                font-family: $font-en;
                font-size: rem(40);
                font-weight: 600;
                color: #fff;
            }
            p {
                margin-top: rem(12);
                color: $label-dark-alternative;
            }
            i {
                display: inline-block;
                width: rem(16);
                height: rem(16);
                margin-left: rem(4);
                vertical-align: top;
                img {
                    width: 100%;
                }
            }
        }
    }
    .img-area {
        mask-image: linear-gradient(to bottom, #000 80%, transparent 100%);
        img {
            width: 100%;
        }
    }
}
@include laptop {
    .light-1 {
        padding: rem(80) 0;
        .box-txt__item {
            b {
                font-size: rem(26);
            }
        }
    }
}
@include tablet {
    .light-1 {
        .box-txt {
            display: block;
            margin: rem(20) auto;
            &__item {
                padding: rem(28) 0;
                &:not(:last-of-type) {
                    border-right: 0;
                    border-bottom: 1px solid $border-dark-normal;
                }
            }
        }
    }
}

// light 2
.light-2 {
    padding: 0 0 rem(120);
    background: #000;
    .container-grid {
        align-items: flex-start;
    }
    .sub-section__tit {
        position: sticky;
        width: calc((460/$inner-width)*100%);
        top: 80px;
    }
    .txt-area {
        width: calc((940/$inner-width)*100%);
    }
    dl {
        dt {
            margin-bottom: rem(16);
            padding-top: rem(24);
            border-top: 1px solid $border-dark-light;
            font-size: rem(24);
            font-weight: 600;
            color: #fff;
        }
        dd {
            line-height: 1.6;
            color: $label-dark-neutral;
            &:not(:last-of-type) {
                margin-bottom: rem(80);
            }
            .img-area {
                margin-top: rem(32);
                img {
                    width: 100%;
                }
            }
        }
    }
}
@include laptop {
    .light-2 {
        padding: 0 0 rem(80);
        .container-grid {
            display: block;
        }
        .sub-section__tit {
            position: unset;
            width: 100%;
            br {
                display: none;
            }
        }
        .txt-area {
            width: 100%;
        }
    }
}

// light 3
.light-3 {
    position: relative;
    padding: calc((520/$inner-width)*100%) 0 rem(60);
    background: url(../../images/light/light3_bg_img.png) center /cover no-repeat;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    }
    .inner {
        position: relative;
        z-index: 1;
    }
    .txt-area {
        width: min(700px, 100%);
    }
}
@include desktop {
    .light-3 {
        padding: rem(340) 0 rem(60);
    }
}

// light 4
.light-4 {
    padding: calc((280/$inner-width)*100%) 0;
    background: url(../../images/light/light4_bg_img.png) center /cover no-repeat;
    .txt-area {
        width: min(940px, 100%);
        margin: 0 auto;
        text-align: center;
        .btn {
            margin-top: rem(32);
        }
    }
}
@include laptop {
    .light-4 {
        padding: calc((360/$inner-width)*100%) 0;
        padding: rem(260) 0;
    }
}

// light 5
.light-5 {
    padding: rem(120) 0 0;
    background: #000;
    .txt-area {
        text-align: center;
    }
    .img-area {
        img {
            width: 100%;
        }
    }
}
@include laptop {
    .light-5 {
        padding: rem(80) 0 0;
    }
}

// light 6
.light-6 {
    padding: rem(120) 0;
    background: #000;
    .product-slide__tit {
        margin-bottom: rem(20);
        line-height: 1.3;
        font-size: rem(26);
        font-weight: 600;
        color: #fff;
    }
    .product-li {
        margin-top: 0;
    }
}
@include laptop {
    .light-6 {
        padding: rem(80) 0;
    }
}