<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Walker</title>

    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/common.css">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../../script/common.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="inner">
            <header>
                <a class="header-btn prev" href="./customer.html"></a>
                <h2>1:1 문의</h2>
                <a class="header-btn notice" href="../my/my.html"></a>
            </header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html">
                            <img src="../../images/nav_home_ico.svg">
                            <p>홈</p>
                        </a>
                    </li>
                    <li>
                        <a href="../battery.html">
                            <img src="../../images/nav_battery_ico.svg">
                            <p>배터리</p>
                        </a>
                    </li>
                    <li>
                        <a href="../my/my.html">
                            <img src="../../images/nav_my_ico.svg">
                            <p>내정보</p>
                        </a>
                    </li>
                    <li>
                        <a href="../customer/customer.html">
                            <img src="../../images/nav_customer_ico.svg">
                            <p>고객센터</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../images/nav_setting_ico.svg">
                            <p>설정</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <main>
                <div class="board-top">
                    <p class="tit">문의 제목 1</p>
                    <span class="date">2023.05.03 20:44</span>
                </div>
                <div class="board-body">
                    지방자치단체는 주민의 복리에 관한 사무를 처리하고 재산을 관리하며, 법령의 범위안에서 자치에 관한 규정을 제정할 수 있다. 대통령은 내우·외환·천재·지변 또는 중대한 재정·경제상의 위기에 있어서 국가의 안전보장 또는 공공의 안녕질서를 유지하기 위하여 긴급한 조치가 필요하고 국회의 집회를 기다릴 여유가 없을 때에 한하여 최소한으로 필요한 재정·경제상의 처분을 하거나 이에 관하여 법률의 효력을 가지는 명령을 발할 수 있다.
                    <br/><br/>
                    이 헌법시행 당시의 법령과 조약은 이 헌법에 위배되지 아니하는 한 그 효력을 지속한다. 지방의회의 조직·권한·의원선거와 지방자치단체의 장의 선임방법 기타 지방자치단체의 조직과 운영에 관한 사항은 법률로 정한다.
                </div>
                <ul class="board-file">
                    <li>
                        <a href="">
                            <span class="file-name">첨부파일.pdf</span>
                            <img src="../../images/file_down_ico.svg">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="file-name">첨부파일.pdf</span>
                            <img src="../../images/file_down_ico.svg">
                        </a>
                    </li>
                </ul>
            </main>
        </div>
    </div>
</body>