<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Walker</title>

    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common.css">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../script/common.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="inner">
            <header>
                <a class="header-btn prev" href="./index.html"></a>
                <h2>내 위치</h2>
                <a class="header-btn notice" href="./my/my.html"></a>
            </header>
            <nav>
                <ul>
                    <li>
                        <a href="./index.html">
                            <img src="../images/nav_home_ico.svg">
                            <p>홈</p>
                        </a>
                    </li>
                    <li>
                        <a href="./battery.html">
                            <img src="../images/nav_battery_ico.svg">
                            <p>배터리</p>
                        </a>
                    </li>
                    <li>
                        <a href="./my/my.html">
                            <img src="../images/nav_my_ico.svg">
                            <p>내정보</p>
                        </a>
                    </li>
                    <li>
                        <a href="./customer/customer.html">
                            <img src="../images/nav_customer_ico.svg">
                            <p>고객센터</p>
                        </a>
                    </li>
                    <li>
                        <a href="./setting.html">
                            <img src="../images/nav_setting_ico.svg">
                            <p>설정</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <main class="pd0">
                <!-- 임시 -->
                <div class="map">
                    <img src="../images/map_test.jpg">
                    <span class="start"><span>출발</span></span>
                    <span class="current"></span>
                    <span class="end"></span>
                </div>

                <div class="btn-bottom location">
                    <a class="btn border pic" href="javascript:void(0);">
                        <img src="../images/camera_ico.svg">
                        <span>촬영</span>
                    </a>
                    <a class="btn blue map-on" href="javascript:void(0);" onclick="mapOn()">현 위치 내비게이션</a>
                    <a class="btn blue map-off" href="javascript:void(0);" onclick="mapOff()">내비게이션 종료</a>
                </div>
            </main>
        </div>
    </div>

    <!-- modal -->
    <!-- 최초 실행 -->
    <div class="modal confirm warning">
        <div class="modal-container">
            <div class="modal-body">
                <div class="img-wrap">
                    <img src="../images/warning_img.png">
                </div>
                <strong>관리 권한 허용</strong>
                <p>
                    스마트워커에서 사진을 찍고 관리하도록 <br/>
                    허용하시겠습니까?
                </p>
            </div>
            <div class="modal-bottom">
                <a class="btn gray" href="./index.html">허용 안 함</a>
                <a class="btn blue" href="javascript:void(0);" onclick="modalClose()">허용</a>
            </div>
        </div>
    </div>

    <!-- 임시 -->
    <script>
        function mapOn() {
            $('.end, .map-line').css('display', 'block');
            $('.btn-bottom.location').find('.map-on').css('display', 'none');
            $('.btn-bottom.location').find('.map-off').css('display', 'block');
        }
        function mapOff() {
            $('.end, .map-line').css('display', 'none');
            $('.btn-bottom.location').find('.map-on').css('display', 'block');
            $('.btn-bottom.location').find('.map-off').css('display', 'none');
        }
        function modalClose() {
            $('.modal').removeClass('on');
        }
        $(function() {
            setTimeout(() => $('.modal.warning').addClass('on'), 500);
        });
    </script>
</body>