<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Walker</title>

    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common.css">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../script/common.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="inner">
            <header>
                <a class="header-btn prev" href="./index.html"></a>
                <h2>내 위치 사진찍기</h2>
            </header>
            <main class="pd0">
                <!-- 임시 -->
                <div class="pic-wrap">
                    사진 들어가는 곳
                </div>

                <div class="btn-bottom pic">
                    <a class="btn border again" href="javascript:void(0);">
                        <img src="../images/again_ico.svg">
                        <span>다시찍기</span>
                    </a>
                    <a class="btn sky" href="javascript:void(0);">사진 저장</a>
                    <a class="btn blue" href="javascript:void(0);"><span>김보행</span>님에게 전송</a>
                </div>
            </main>
        </div>
    </div>
</body>