.contact-area {
    padding: 142px 0 160px;
}
.btn-li {
    margin-bottom: rem(40);
    li {
        overflow: hidden;
        &:not(:last-of-type) {
            margin-bottom: rem(20);
        }
        button {
            position: relative;
            display: inline-block;
            padding-right: rem(24);
            line-height: 1;
            font-size: rem(100);
            font-weight: 700;
            transform: translateY(100%);
            transition: opacity ease .2s;
            animation: btnList forwards ease .8s;
            &::after {
                content: '';
                position: absolute;
                width: rem(16);
                height: rem(16);
                right: 0;
                bottom: rem(12);
                background: $color-primary-strong;
            }
        }
        &:nth-of-type(2) {
            button {
                animation-delay: .2s !important;
            }
        }
        &:nth-of-type(3) {
            button {
                animation-delay: .4s !important;    
            }
        }
    }
}
@keyframes btnList {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}
.contact-txt__copy {
    margin-bottom: rem(24);
    span {
        display: inline-block;
        padding: rem(4) rem(6) rem(4) rem(32);
        font-size: rem(20);
        font-weight: 500;
        background: url(../../images/common/copy_primary_ico.svg) rem(4) 50%/ rem(22) rem(22) no-repeat, #000;
        color: $color-primary-normal;
    }
}
.contact-txt__li {
    li {
        color: $label-neutral;
        &:not(:last-of-type) {
            margin-bottom: rem(12);
        }
        span {
            display: inline-block;
            margin-right: rem(4);
            font-weight: 500;
            color: $label-alternative;
        }
    }
}
@include desktop {
    .contact-area {
        padding: 142px 0 220px;
    }
}
@include laptop {
    .btn-li {
        li {
            &:not(:last-of-type) {
                margin-bottom: calc((12/$width-laptop)*100vw);
            }
            button {
                padding-right: calc((24/$width-laptop)*100vw);
                font-size: calc((96/$width-laptop)*100vw);
                &::after {
                    width: calc((16/$width-laptop)*100vw);
                    height: calc((16/$width-laptop)*100vw);
                    bottom: calc((12/$width-laptop)*100vw);
                }
            }
        }
    }
}
@include mobile {
    .contact-txt__copy {
        margin-bottom: rem(32);
    }
    .contact-txt__li {
        li {
            &:not(:last-of-type) {
                margin-bottom: rem(20);
            }
            span {
                display: block;
                margin-bottom: rem(6);
            }
        }
    }
}