<div class="inner">
    <div class="ft-top">
        <div class="ft-logo"><img src="/publishing/hp/images/common/logo_wh.svg" alt="HP"></div>
        <div class="ft-menu">
            <div class="ft-menu__itm">
                <div class="ft-menu__tit">회사소개</div>
                <ul class="ft-menu__link">
                    <li><a href="javascript:void(0);">HP 연락처</a></li>
                    <li><a href="javascript:void(0);">인재채용</a></li>
                    <li><a href="javascript:void(0);">투자정보 (영문)</a></li>
                    <li><a href="javascript:void(0);">지속가능성 영향</a></li>
                    <li><a href="javascript:void(0);">프레스센터 (영문)</a></li>
                    <li><a href="javascript:void(0);">차고 (영문)</a></li>
                </ul>
            </div>
            <div class="ft-menu__itm">
                <div class="ft-menu__tit">구입방법</div>
                <ul class="ft-menu__link">
                    <li><a href="javascript:void(0);">온라인쇼핑</a></li>
                    <li><a href="javascript:void(0);">전화문의</a></li>
                    <li><a href="javascript:void(0);">리셀러 찾아보기</a></li>
                </ul>
            </div>
            <div class="ft-menu__itm">
                <div class="ft-menu__tit">지원</div>
                <ul class="ft-menu__link">
                    <li><a href="javascript:void(0);">드라이버 다운로드</a></li>
                    <li><a href="javascript:void(0);">제품지원 및 문제해결</a></li>
                    <li><a href="javascript:void(0);">제품등록</a></li>
                    <li><a href="javascript:void(0);">보증기간 조회</a></li>
                    <li><a href="javascript:void(0);">서비스센터 찾기</a></li>
                    <li><a href="javascript:void(0);">교육 및 인증</a></li>
                </ul>
            </div>
            <div class="ft-menu__itm">
                <div class="ft-menu__tit">HP 파트너</div>
                <ul class="ft-menu__link">
                    <li><a href="javascript:void(0);">HP Amplify Partner Program</a></li>
                    <li><a href="javascript:void(0);">파트너 포털</a></li>
                    <li><a href="javascript:void(0);">개발자</a></li>
                </ul>
            </div>
        </div>
        <div class="ft-lang">
            <div class="current">국가 / 지역</div>
            <ul>
                <li><a href="javascript:void(0);"></a></li>
                <li><a href="javascript:void(0);"></a></li>
                <li><a href="javascript:void(0);"></a></li>
                <li><a href="javascript:void(0);"></a></li>
            </ul>
        </div>
    </div>
    <div class="ft-btm">
        <div class="ft-btm__top">
            <ul class="ft-link">
                <li><a href="javascript:void(0);">개인정보처리방침</a></li>
                <li><a href="javascript:void(0);">이용약관</a></li>
                <li><a href="javascript:void(0);">쿠키 및 광고 선택사항</a></li>
                <li><a href="javascript:void(0);">리콜</a></li>
                <li><a href="javascript:void(0);">제품재활용(영문)</a></li>
                <li><a href="javascript:void(0);">내게 필요한 옵션(영문)</a></li>
            </ul>
            <ul class="ft-sns">
                <li><a href="javascript:void(0);"><img src="/publishing/hp/images/common/ft_sns_01.svg" alt=""></a></li>
                <li><a href="javascript:void(0);"><img src="/publishing/hp/images/common/ft_sns_02.svg" alt=""></a></li>
                <li><a href="javascript:void(0);"><img src="/publishing/hp/images/common/ft_sns_03.svg" alt=""></a></li>
                <li><a href="javascript:void(0);"><img src="/publishing/hp/images/common/ft_sns_04.svg" alt=""></a></li>
                <li><a href="javascript:void(0);"><img src="/publishing/hp/images/common/ft_sns_05.svg" alt=""></a></li>
            </ul>
        </div>
        <p class="ft-copy">© Copyright 2023 HP Development Company, L.P.</p>
    </div>
</div>