// utils
@import "../utils/_mixin";

// page
@import "../page/_index";
@import "../page/_laptop";
@import "../page/_support";

// common
html {
    font-size: 16px;
}
body {
    letter-spacing: -0.5px;
    word-break: keep-all;
}
.inner {
    width: min($inner-width-px, 100%);
    margin: 0 auto;
    padding: 0 $inner-padding-px;
}
.img-area {
    img {
        width: 100%;
    }
}
.wrap {
    min-width: 280px;
    overflow: hidden;
}
@include desktop {
    html {
        font-size: 15px;
    }
}
@include tablet {
    html {
        font-size: 14px;
    }
}

// header
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    .inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(66);
    }
    &.hover {
        .hd-wrap {
            background: #fff;
        }
        .hd-logo {
            img {
                &:first-of-type {
                    visibility: hidden;
                    opacity: 0;
                }
                &:last-of-type {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .hd-gnb {
            .dep1-li {
                > li {
                    > a {
                        color: #000;
                    }
                }
            }
        }
        .hd-rgt {
            li {
                a {
                    i {
                        img {
                            &:first-of-type {
                                visibility: hidden;
                                opacity: 0;
                            }
                            &:last-of-type {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                    span {
                        color: $label-alternative;
                    }
                }
            }
        }
        .hd-bg__lft {
            &::before {
                visibility: visible;
                opacity: .05;
            }
        }
        .hd-menu {
            span {
                background: #000;
                transition: background-color ease .2s;
            }
        }
    }
}
.hd-logo {
    position: absolute;
    width: rem(46);
    height: rem(46);
    top: 50%;
    left: rem(20);
    transform: translate(0, -50%);
    a {
        display: block;
    }
    img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transition: visibility ease .2s, opacity ease .2s;
        &:last-of-type {
            visibility: hidden;
            opacity: 0;
        }
    }
}
.hd-gnb {
    .dep1-li {
        > li {
            display: inline-block;
            &:not(:last-of-type) {
                margin-right: rem(52);
            }
            > a {
                font-family: $font-chakra;
                font-size: rem(18);
                font-weight: 700;
                color: #fff;
                transition: color ease .2s;
                .gnb-arrow {
                    display: none;
                    width: rem(24);
                    height: rem(24);
                    background: #000;
                    background: url(../../images/common/arrow_down_gray_ico.svg) center /cover no-repeat;
                }
            }
        }
    }
    .dep2 {
        position: absolute;
        display: flex;
        width: 100%;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
    }
    .dep2-lft {
        width: calc((360/$inner-width-size)*100%);
        padding: calc((48/$inner-width-size)*100%) calc((48/$inner-width-size)*100%) 0 0;
        text-align: right;
        span {
            font-family: $font-chakra;
            font-size: max(calc((48/1920)*100vw), rem(32));
            font-weight: 700;
            color: #fff;
        }
    }
    .dep2-rgt {
        width: calc((1100/$inner-width-size)*100%);
        padding: calc((48/$inner-width-size)*100%) 0 calc((48/$inner-width-size)*100%) calc((60/$inner-width-size)*100%);
    }
    .dep2-li__area {
        display: flex;
        gap: rem(20);
    }
    .dep2-li {
        width: calc(100%/4 - 15px);
        li {
            margin-bottom: rem(14);
            &:first-of-type {
                margin-bottom: rem(20);
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            span {
                font-size: rem(18);
                font-weight: 600;
                color: $label-neutral;
            }
            a {
                font-size: rem(15);
                color: $label-neutral;
            }
        }
    }
}
.hd-rgt {
    position: absolute;
    top: 50%;
    right: rem(20);
    transform: translate(0, -50%);
    li {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: rem(20);
        }
        a {
            display: flex;
            align-items: center;
            gap: rem(8);
            i {
                position: relative;
                display: inline-block;
                width: rem(16);
                height: rem(16);
                img {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    opacity: .6;
                    transition: visibility ease .2s, opacity ease .2s;
                    &:last-of-type {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
            span {
                font-size: rem(15);
                color: $label-dark-alternative;
                transition: color ease .2s;
            }
        }
    }
}
.hd-wrap {
    position: relative;
    height: rem(66);
    overflow: hidden;
    background: transparent;
    transition: height ease .4s, background-color ease .4s;
}
.hd-bg__lft, .hd-bg__rgt {
    position: absolute;
    height: calc(100% - rem(66));
    top: rem(66);
}
.hd-bg__lft {
    left: 0;
    background: $bg-dark-normal;
    &::before {
        content: '';
        position: absolute;
        width: 370px;
        width: max(calc((370/1920)*100vw), 200px);
        height: max(calc((370/1920)*100vw), 200px);
        bottom: calc((100/1920) * -100vw);
        left: calc((80/1920) * -100vw);
        background: url(../../images/common/logo_wh.svg) center /cover no-repeat;
        opacity: .05;
        visibility: hidden;
        opacity: 0;
        transition: visibility ease .2s, opacity ease .2s;
    }
}
.hd-bg__rgt {
    right: 0;
    background: $bg-light-normal;
}
.hd-menu {
    position: relative;
    display: none;
    width: rem(40);
    height: rem(40);
    span {
        position: absolute;
        display: block;
        width: calc(100% - rem(8));
        height: 2px;
        left: 50%;
        transform: translate(-50%);
        background: #fff;
        &:first-of-type {
            top: calc(50% - rem(4));
        }
        &:last-of-type {
            top: calc(50% + rem(4));
        }
    }
}
.menu-view {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    background: #fff;
    transform: translateX(100%);
    visibility: hidden;
    transition: visibility ease .5s, transform ease .5s;
    &::-webkit-scrollbar {
        display: none;
    }
    &__top {
        background: #000;
    }
    &__top-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
        padding: rem(20) rem(20) rem(40);
    }
    &__top-btm {
        padding: 0 rem(20) rem(40);
        .login {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .login-link {
                padding-right: rem(28);
                letter-spacing: 0;
                font-family: $font-chakra;
                font-size: rem(28);
                font-weight: 500;
                color: #fff;
                background: url(../../images/common/arrow_right_wh_ico.svg) 100% 50%/ rem(24) rem(24) no-repeat;
            }
            .join-link {
                color: $label-dark-alternative;
            }
        }
        .search {
            margin-top: rem(28);
            form {
                display: flex;
                gap: rem(12);
                input[type=text] {
                    background: $bg-dark-normal;
                }
            }
        }
    }
    &__logo {
        width: rem(40);
        height: rem(40);
        background: url(../../images/common/logo_wh.svg) center /cover no-repeat;
    }
    &__cart {
        display: inline-block;
        width: rem(28);
        height: rem(28);
        margin-right: rem(16);
        background: url(../../images/common/hd_cart_wh_ico.svg) center /cover no-repeat;
    }
    &__close {
        display: inline-block;
        width: rem(28);
        height: rem(28);
        background: url(../../images/common/menu_view_close_wh_ico.svg) center /cover no-repeat;
    }
    .dep1-li {
        padding: rem(12) rem(20) rem(20);
        > li {
            &:not(:last-of-type) {
                border-bottom: 1px dashed $border-normal;
            }
        }
    }
    .dep1-tit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(12) 0;
        letter-spacing: 0;
        font-family: $font-chakra;
        font-size: rem(20);
        font-weight: 700;
        .gnb-arrow {
            display: inline-block;
            width: rem(36);
            height: rem(36);
            background: url(../../images/common/arrow_down_gray_ico.svg) center /rem(20) rem(20) no-repeat;
            &.up {
                background: url(../../images/common/arrow_up_gray_ico.svg) center /rem(20) rem(20) no-repeat;
            }
        }
    }
    .dep2 {
        display: none;
    }
    .dep2-li {
        padding: 0 rem(8);
        &:first-of-type {
            padding-top: rem(8);
        }
        &:last-of-type {
            padding-bottom: rem(26);
        }
        &:not(:last-of-type) {
            margin-bottom: rem(32);
        }
        > li {
            &:first-of-type {
                font-weight: 600;
            }
            &:not(:first-of-type) {
                > a {
                    color: $label-neutral;
                }
            }
            &:not(:last-of-type) {
                margin-bottom: rem(16);
            }
        }
    }
}
@include desktop {
    header {
        .inner {
            justify-content: space-between;
        }
    }
    .hd-gnb, .hd-rgt {
        display: none;
    }
    .hd-logo {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }
    .hd-menu {
        display: block;
    }
    .menu-view {
        &.on {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

// footer
footer {
    padding: rem(60) 0;
    background: $bg-dark-strong;
}
.ft-top {
    display: flex;
    gap: rem(20);
}
.ft-logo {
    width: rem(46);
    height: rem(46);
    margin-right: rem(54
    );
    img {
        width: 100%;
    }
}
.ft-menu {
    display: flex;
    width: rem(580);
}
.ft-menu__itm {
    width: calc(100%/4);
}
.ft-menu__tit {
    margin-bottom: rem(12);
    font-size: rem(14);
    font-weight: 500;
    color: $lable-dark-neutral;
}
.ft-menu__link {
    li {
        line-height: 1.2;
        &:not(:last-of-type) {
            margin-bottom: rem(8);
        }
        a {
            font-size: rem(14);
            color: $label-dark-alternative;
        }
    }
}
.ft-lang {
    margin-left: auto;
    .current {
        padding: rem(2) 0 rem(2) rem(20);
        font-size: rem(14);
        background: url(../../images/common/ft_lang_wh_ico.svg) 0 50%/ rem(16) rem(16) no-repeat;
        color: $lable-dark-neutral;
    }
}
.ft-btm {
    margin-top: rem(48);
    padding-top: rem(28);
    border-top: 1px solid $border-dark-normal;
}
.ft-btm__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.ft-link {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8) rem(20);
    li {
        &:not(:last-of-type) {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: rem(14);
                top: 1px;
                right: rem(-12);
                background: $border-dark-normal;
            }
        }
        a {
            font-size: rem(14);
            color: $label-dark-alternative;
        }
    }
}
.ft-sns {
    display: flex;
    flex-wrap: wrap;
    gap: rem(6);
    li {
        a {
            display: block;
            width: rem(34);
            height: rem(34);
            border-radius: rem(8);
            background: #3d3d3d;
            img {
                width: 100%;
            }
        }
    }
}
.ft-copy {
    margin-top: rem(8);
    line-height: 1.3;
    font-size: rem(14);
    color: $label-dark-assistive;
}
@include desktop {
    .ft-logo {
        margin-right: 0;
    }
    .ft-btm__top {
        display: block;
    }
    .ft-sns {
        margin-top: rem(24);
    }
    .ft-copy {
        margin-top: rem(28);
    }
}
@include laptop {
    footer {
        padding: rem(42) 0 rem(32);
    }
    .ft-top {
        display: block;
    }
    .ft-logo {
        margin-bottom: rem(28);
    }
    .ft-menu {
        width: 100%;
    }
    .ft-lang {
        margin-top: rem(28);
    }
    .ft-btm {
        margin-top: rem(24);
        padding-top: rem(20);
    }
}
@include tablet {
    .ft-menu {
        display: block;
    }
    .ft-menu__itm {
        width: 100%;
        &:not(:last-of-type) {
            margin-bottom: rem(20);
        }
    }
    .ft-menu__tit {
        margin-bottom: rem(8);
    }
    .ft-menu__link {
        display: flex;
        flex-wrap: wrap;
        gap: rem(4) rem(16);
        li {
            &:not(:last-of-type) {
                margin-bottom: 0;
            }
        }
    }
}

// button
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: rem(48);
    padding: 0 rem(32);
    white-space: nowrap;
    font-family: $font-chakra ;
    font-size: rem(15);
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: rem(10);
    &.bk {
        background: #000;
        color: #fff;
    }
    &.wh {
        background: #fff;
        color: #000;
    }
    &.border-wh {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
    }
    &.border-bk {
        border: 1px solid #000;
        background: transparent;
        color: #000;
    }
}
.btn-area {
    text-align: center;
}

// text field
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    height: rem(48);
    padding: 0 rem(16);
    font-size: rem(16);
    border-radius: rem(10);
    background: $bg-light-normal;
    color: $label-neutral;
    &::placeholder {
        font-size: rem(15);
        color: $label-disabled;
    }
}

// checkbox
.checkbox {
    display: flex;
    gap: rem(8);
    span {
        width: calc(100% - rem(30));
        line-height: 1.4;
        color: $label-neutral;
        a {
            text-decoration: underline;
        }
    }
}
input[type=checkbox] {
    width: rem(22);
    height: rem(22);
    border: 1px solid $border-normal;
    border-radius: rem(6);
    background: #fff;
    &:checked {
        border: 1px solid transparent;
        background: url(../../images/common/check_wh_ico.svg) center /cover no-repeat, #000;
    }
}

// text style
.sec-tit {
    margin-bottom: rem(48);
    text-align: center;
}
.sec-tit__tit {
    font-family: $font-chakra;
    font-size: rem(48);
    font-weight: 700;
}
.sec-tit__desc {
    margin-top: rem(16);
    line-height: 1.4;
    color: $label-neutral;
}
.box-tit {
    font-size: rem(26);
    font-weight: 700;
}
.itm-tit {
    line-height: 1.3;
    font-family: $font-chakra;
    font-size: rem(28);
    font-weight: 700;
}
.itm-desc {
    line-height: 1.4;
    color: $label-neutral;
}
@include laptop {
    .sec-tit {
        margin-bottom: rem(32);
    }
    .sec-tit__tit {
        font-size: rem(40);
    }
}


// border radius
.box-radius {
    border-radius: rem(40);
    overflow: hidden;
}
@include desktop {
    .box-radius {
        border-radius: rem(28);
    }
}
@include tablet {
    .box-radius {
        border-radius: rem(20);
    }
}

// slide navigation
.navigation {
    .prev, .next {
        display: inline-block;
        width: rem(40);
        height: rem(40);
    }
    .prev {
        background: url(../../images/common/arrow_left_gray_ico.svg) center /cover no-repeat;
    }
    .next {
        background: url(../../images/common/arrow_right_gray_ico.svg) center /cover no-repeat;
    }
}

// swiper bullet
.pagination-bullet {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: rem(32);
    margin-bottom: rem(40);
    &::-webkit-scrollbar {
        display: none;
    }
}
.swiper-pagination-bullet {
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 0 rem(6) 0 !important;
    white-space: nowrap;
    font-size: rem(20);
    font-weight: 600;
    border-radius: 0;
    opacity: 1;
    background: 0;
    color: $label-alternative;
}
.swiper-pagination-bullet-active {
    border-bottom: 2px solid #fff;
    color: #fff;
}
@include tablet {
    .pagination-bullet {
        justify-content: flex-start;
        width: calc(100% + rem(40)) !important;
        margin: 0 rem(-20) rem(24);
        padding: 0 rem(20);
    }
}

// sub head
.sub-head {
    position: relative;
    height: 100vh;
    &.transparent {
        height: auto;
        padding: rem(200) 0 rem(100);
        .sub-tit__tit {
            color: #000;
        }
        .sub-tit__desc {
            color: $label-neutral;
        }
    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .scroll-down {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: rem(24);
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        span {
            display: inline-block;
            width: rem(12);
            height: rem(12);
            margin-top: rem(-2);
            transform: rotate(45deg);
            transform-origin: 50% 50%;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            animation: scrollDown infinite ease 2s;
            &:nth-of-type(2) {
                animation-delay: .1s;
            }
            &:nth-of-type(3) {
                animation-delay: .2s;
            }
        }
    }
}
@keyframes scrollDown {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.sub-head__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:last-of-type {
            display: none;
        }
    }
}
.sub-tit {
    position: relative;
    z-index: 1;
}
.sub-tit__tit {
    font-family: $font-chakra;
    font-size: rem(60);
    font-weight: 700;
    color: #fff;
}
.sub-tit__desc {
    margin-top: rem(20);
    line-height: 1.3;
    color: $lable-dark-neutral;
}
.sub-tit__btn {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
    margin-top: rem(48);
}
@include desktop {
    .sub-head {
        height: unset;
        .sub-tit {
            padding: unset;
        }
    }
    .sub-tit {
        padding: rem(280) 0;
    }
}
@include laptop {
    .sub-head__img {
        img {
            &:first-of-type {
                display: none;
            }
            &:last-of-type {
                display: block;
            }
        }
    }
}
@include tablet {
    .sub-tit__tit {
        font-size: rem(40);
    }
    .sub-tit__btn {
        .btn {
            width: 100%;
        }
    }
}

// search
.sch-form {
    display: flex;
    gap: rem(8);
    width: min(rem(700), 100%);
    margin-top: rem(48);
}